$bg--light: white;
$text--light: black;
$brand--blue--light: lightblue;
$hover--light: lightblue;
$border--light: gray;
$bg--accordion--light: white;
$title--accordion--light: #444;
$cv--bg--light: rgba(255,255,255,.7);
$cv--opacity--light: 1;
$menu--filter--light: invert(.3);
$menu--hover--light: invert(0);

$bg--dark--top: black;
$bg--dark--bottom: gray;
$text--2--dark: white;
$brand--blue--dark: navy;
$hover--dark: gray;
$border--dark: white;
$bg--accordion--dark: #444;
$title--accordion--dark: #eee;
$cv--bg--dark: white;
$cv--opacity--dark: .7;
$menu--filter--dark: invert(.8);
$menu--hover--dark: invert(1);


$themes: (
        default: (
                // bg: $bg--light,
                cv-opacity: $cv--opacity--light,
                bg: transparent,
                bg-cv: $cv--bg--light,
                bg-doodle: $bg--light,
                text: $text--light,
                link: $brand--blue--light,
                hover: $hover--light,
                border: $border--light,
                // bg-accordion: $bg--accordion--light,
                bg-accordion: transparent,
                title-accordion: $title--accordion--light,
                filter-menu: $menu--filter--light,
                hover-menu: $menu--hover--light,
        ),
        dark: (
                cv-opacity: $cv--opacity--dark,
                bg-doodle: linear-gradient($bg--dark--top, $bg--dark--bottom),
                bg: transparent,
                bg-cv: $cv--bg--dark,
                text: $text--2--dark,
                link: $brand--blue--dark,
                hover: $hover--dark,
                border: $border--dark,
                // bg-accordion: $bg--accordion--dark,
                bg-accordion: transparent,
                title-accordion: $title--accordion--dark,
                filter-menu: $menu--filter--dark,
                hover-menu: $menu--hover--dark,
        ),
);

  @mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

// @mixin themify($themes) {
  // @each $name, $values in $themes {
    // .#{$name}-theme {
      // $theme-map: $values !global;
      // @content;
    // }
  // }
// }
// @function themed($key) {
  // @return map-get($theme-map, $key);
// }
