@use 'color-themes' as *;
.accordion{
  width: 100%;
}
.accordion-panel{
  // max-height: 0;
  // overflow: hidden;
  transition: all 0.2s ease-out;
  @include themed(){
    color: t('text');
    background-color: t('bg');
  }
}
.accordion-button{
 @include themed(){
    color: t('title-accordion');
    background-color: t('bg-accordion')
  }
  transition: 0.4s;
}

.active, .accordion-button:hover{
  // background-color: #eee;
  cursor: pointer;
}
