.form{
  display: flex;
  flex-direction: column;
&>.accordion{
    // border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5rem;
    margin-block: .5rem;
    overflow: hidden;
    // border: none;
    .accordion-button{
      padding: 18px;
      border: none;
      width: 100%;
      font-size: 20px;
      font-weight: 900;
      text-align: left;
    }
    .accordion-panel{
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-content: center;
      .a-btn{
        &:last-child{
          margin-top: 1rem;
        }
        width: max-content;
        align-self: center;
        font-size: 18px;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        border-radius: .5rem;
        border: 1px solid transparent;
        background-color: lightblue;
        font-weight: bold;
        // outline: none;
        &:hover{
          cursor: pointer;
          border: 1px solid black;
        }
      }
      // padding-bottom: 1rem;
    }
  }
  .a-form{
    padding-inline: 1rem;
    display: flex;
    flex-direction:column;
    margin: 1rem .5rem;
    // border: 1px black solid;
    // border-radius: 2rem;
    // opacity: 1;
    padding-block: 1rem;
    // background: rgba(0,0,0, .02);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  label{
      width:100%;
      margin-block: 1rem;
      display: flex;
      flex-direction: column;
      &>input{
        height: 2rem;
        padding-left: .5rem;
        font-size: 18px;
        border-radius: .25rem;
        border: 1px solid black;
      }
      p{
        font-size: 18px;
        font-weight: bold;
      }
      .date-form{
        width: 100%;
        display: flex;
        justify-content: space-around;
        &>input{
          height: 2rem;
          padding-left: .5rem;
          border-radius: .5rem;
          border: 1px solid black;
        }
      }
    }
    &>textarea, label>textarea{
      min-height: 280px;
      // min-width: 370px;
      padding-inline: .5rem;
      font-size: 18px;
      border-radius: .25rem;
    }
  }
}
