@use 'color-themes' as *;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  // border: solid .5px black;
}
.root{
  padding-inline: 2rem;
  padding-block: 1rem;
}
.main{
  @include themed(){
    color: t('text');
    background: transparent;
  }
  // width: 100%;
  display: flex;
  // gap: 1rem;
  justify-content: space-between;
  // align-items: center;
  .form{
    flex: 1;
  }
  .cv-display{
    flex: 3;
  }
}

.doodle{
  position:fixed;
  z-index: -1;
  border:none;
  @include themed(){
    background-color: t('bg');
  }
}
