@use 'color-themes' as *;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  // border: solid .5px black;
}
.wrapper{
  display: flex;
  gap: 1rem;
}
.menu{
  flex: 1;
}
// .root{
//   // padding-inline: 2rem;
//   // padding-block: 1rem;
// }
.main{
  flex: 15;
  @include themed(){
    color: t('text');
    // background: t('bg-doodle');
  }
  padding: 2rem 1rem;
  // width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  // align-items: center;
  .form{
    flex: 2;
  }
  .cv-display{
    flex: 5;
  }
}

.doodle{
  position:fixed;
  z-index: -1;
  border:none;
  background-color: black;
  @include themed(){
    background: t('bg-doodle');
  }
}
